@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: "lato", sans-serif;
}

.hero {
    background-color: #fff;
}

.projects {
    background-color: #fff;
}

.testimonial {
    background-color: #fff;
}